include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          .parallax
            .parallax__inner
              .parallax__layer(data-speed="0.005")
                +image('content/backgrounds/parallax/lay1.png', 'parallax__layer-img', 'parallax layer')
              .parallax__layer(data-speed="0.01")
                +image('content/backgrounds/parallax/lay2.png', 'parallax__layer-img', 'parallax layer')
              .parallax__layer(data-speed="0.015")
                +image('content/backgrounds/parallax/lay3.png', 'parallax__layer-img', 'parallax layer')
              .parallax__layer(data-speed="0.02")
                +image('content/backgrounds/parallax/lay4.png', 'parallax__layer-img', 'parallax layer')
          section.hero#hero
              .container.hero__container
                .hero__header
                  header.header
                    .header__logo
                      a.logo(href="#hero") АХ
                    .header__menu
                      nav.nav.nav-header
                        ul.nav__list
                          -
                            var navList = [
                                ['Главная', '#hero'],
                                ['Обо мне', '#about'],
                                ['Навыки', '#skills'],
                                ['Работы', '#works'],
                                ['Отзывы', '#rvws'],
                                ['Связаться', '#form']
                              ]
                          each item in navList
                            li.nav__item
                              a(href=`${item[1]}`, title=`${item[0]}`).nav__link #{item[0]}
                    .header__links
                      .header__soc
                        ul.soc
                          -
                            var socList = [
                                ['insta', 'https://www.instagram.com/'],
                                ['vk', 'https://vk.com/'],
                                ['github', 'https://github.com/Alexhloft']
                              ]
                          each item in socList
                            li.soc__item
                              a(href=`${item[1]}`).soc__link
                                +icon(`${item[0]}`, 'soc__icon')
                      .header__burger-menu
                        .menu-btn
                          span.menu-btn__item.menu-btn--top
                          span.menu-btn__item.menu-btn--middle
                          span.menu-btn__item.menu-btn--bottom
                .hero__content
                  .user-info
                    h1.user-info__desc Личный сайт <br>веб-разработчика
                    h2.user-info__name Александр <br>Хохлов
                .hero__buttons
                  a.scroll-down(href="#about")
                    .scroll-down__text Скролл
                    +icon('scroll', 'scroll-down__icon')

          section.about#about
            .container.about__container
              .about__info
                .user
                  .user__photo-wrap
                    +image('content/photo.jpg', 'user__photo', 'фото')
                  .user__data
                    table.user__data-table
                      - 
                        var data = [
                          ['Проживаю:', 'Королёв'],
                          ['Возраст:', '22'],
                          ['Родился:', '11 сентября 1996']
                        ]
                      each row in data
                        tr.user__data-row
                          td.user__data-cell.user__data-cell-key #{row[0]}
                          td.user__data-cell #{row[1]}
              article.about__desc                                                                               
                .about__welcome Привет, меня зовут 
                h2.title.about__username Александр Хохлов
                .about__text
                  p Я занимаюсь разработкой современных сайтов и приложений. 
                  p Мне нравится делать интересные и современные проекты.
                .about__ps
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        

        section.skills#skills
          .container.skills__container           
            .skills__info
              article.skills__desc
                h2.skills__title Чем я могу быть полезен вам
                .skills__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .skills__abilities.abilities
                #skills-component


        section.works#works
          .container.works__container
            h2.title.works__title Мои работы
            .works__info
              .works__overview
                .works__img
                  +image('content/works/work1.jpg', 'works__img-pic', 'превью работы')
                  .works__slider
                    ul.works__list
                      li.works__item.works__item--active: +image(`content/works/work1.jpg`, 'works__item-img', `работа №1 в списке`)
                      - var n = 5   //- кол-во работ
                      - for (var i = 2; i < n; i++)
                        li.works__item: +image(`content/works/work${i}.jpg`, 'works__item-img', `работа №${i} в списке`)
                    .works__controls
                      button(type="button").works__control.works__control--right
                      button(type="button").works__control.works__control--left
              article.works__desc
                ul.works__tools-list
                  li.works__tools-item HTML
                  li.works__tools-item CSS
                  li.works__tools-item JavaScript
                h3.works__work-title Сайт школы образования
                .works__work-desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a.works__work-link Посмотреть сайт


        section.rvws#rvws
          .container.rvws__container
            .rvws__comments
              .comments#reviews
                .comments__wrap
                  h2.title.comments__title Что обо мне говорят
                  .comments__controls
                    .comments__control.comments__control--left(@click="previous()")
                    .comments__control.comments__control--right(@click="next()")
                flickity(ref="flickity" :options="flickityOptions").comments__list
                  - 
                    var rvwsData = [
                      {
                        path: 'av1',
                        desc: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!',
                        name: 'Ковальчук Дмитрий',
                        post: 'Основатель Loftschool'
                      },
                      {
                        path: 'av2',
                        desc: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах',
                        name: 'Владимир Сабанцев',
                        post: 'Преподаватель'
                      },
                      {
                        path: 'av2',
                        desc: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах',
                        name: 'Владимир Сабанцев',
                        post: 'Преподаватель'
                      }
                    ]
                  - for (var i = 0; i < rvwsData.length; i++)
                    .comments__item
                      .comments__desc #{rvwsData[i].desc}
                      .comments__author
                        .comments__avatar
                          +image(`content/avatars/${rvwsData[i].path}.png`, 'comments__avatar-img', 'аватар автора')
                        .comments__author-info
                          .comments__name #{rvwsData[i].name}
                          .comments__post #{rvwsData[i].post}

            .rvws__form#form
              form.form
                h2.title.form__title Связаться со мной
                .form__row
                  label.form__block
                    .form__block-title Введите ваше имя
                    input.form__input.form__name(name="name", type="text", placeholder="Имя", required)
                    +icon('user', 'form__icon form__icon-name')
                  label.form__block.form__block--margin-l
                    .form__block-title Введите ваш email
                    input.form__input.form__email(name="email", type="email", placeholder="email@mail.ru", required)
                    +icon('envelope', 'form__icon form__icon-email')
                .form__row.form__row--extramargin
                  label.form__block
                    .form__block-title Сообщение к письму
                    textarea.form__comment(name="comment", placeholder="Сообщение", required)
                    +icon('message', 'form__icon form__icon-comment')
                button.form__submit.btn(type="submit") Отправить


        section.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year © 2019
                .copyright__info
                  .copyright__name Александр Хохлов
                  .copyright__desc Личный сайт веб-разработчика
            .footer__content
              .footer__menu
                nav.nav.nav-footer
                  ul.nav__list
                    each item in navList
                      li.nav__item
                        a(href=`${item[1]}`).nav__link #{item[0]}
              .footer__content-columns
                .footer__content-col
                  .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  ul.footer__soc.soc.soc--rounded
                    each item in socList
                      li.soc__item
                        a(href=`${item[1]}`).soc__link
                          +icon(`${item[0]}`, 'soc__icon')
                article.footer__content-col
                  .footer__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .footer__text-author Martin Golding
      

      //- .overlay
      //-   .overlay__menu
      //-     .overlay-menu
      //-       .overlay-menu__nav
      //-         nav.nav.nav-overlay
      //-           ul.nav__list
      //-             each item in navList
      //-               li.nav__item
      //-                 a(href=`${item[1]}`, title=`${item[0]}`).nav__link #{item[0]}
      //-       .overlay-menu__close-btn
      //-         .close-btn.close-btn--overlay
      //-       .overlay-menu__soc
      //-         ul.soc.soc--overlay
      //-           each item in socList
      //-             li.soc__item
      //-               a(href=`${item[1]}`).soc__link
      //-                 +icon(`${item[0]}`, 'soc__icon')

    include ./templates/entry.pug